.debug {
  border: 1px solid red;
}

.bkg-none {
  background: none !important;
}
/*text*/
.txt-delius{
  font-family: 'Delius Unicase', cursive;
  font-size: 2.5em;
}
.txt-lato {
  font-family: 'Lato', sans-serif;
  font-size: 1.3em;
}

.txt-center {
  text-align: center;
}

.txt-gray {
  color: gray !important;
}

.txt-light-gray {
  color: #737373;
}

.txt-white {
  color: white !important;
}

.txt-off-white {
  color: #CCCCCC !important;
}

.txt-l {
  font-size: 8em;
}

.txt-s {
  font-size: 2em;
}

/*positioning*/
.block {
  display: block;
}

/*spacing*/
/*width*/
.w-m {
  width: 10em;
}
/*margin*/
.m-auto {
  margin: 0 auto !important;
}

.m-40-auto {
  margin: 40px auto;
}

.m-top-m {
  margin-top: 4%;
}

.m-top-60 {
  margin-top: 60px;
}

.m-bottom-m {
  margin-bottom: 4%;
}

.m-bottom-40 {
  margin-bottom: 40px;
}

.m-l {
  margin: 10px;
}

/*padding*/
.p-8 {
  padding: 8px;
}

.p-10 {
  padding: 10px;
}

/*border*/
.b-white {
  border: 1px solid white;
}

/*specific styles*/
.choice-field {
  background: none !important;
  border: none !important;
  border-bottom: 2px solid white !important;
  box-shadow: none !important;
  font-size: 2em !important;
  height: 60px !important;
  width: 200px !important;
  opacity: .6;
}

.degree-symbol {
  font-size: .5em;
  position: absolute;
  top: 30;
}

.clear {
  opacity: .6;
}

.pointer {
  cursor: pointer;
}

.bkg-sky-blue {
  background-color: #5CC0D4;
}

/*placeholder style*/
::-webkit-input-placeholder {
   color: white;
}

:-moz-placeholder { /* Firefox 18- */
   color: white;
}

::-moz-placeholder {  /* Firefox 19+ */
   color: white;
}

:-ms-input-placeholder {
   color: white;
}

@media only screen and (max-width: 645px) {
    .txt-delius {
      font-size: 1.3em !important;
    }
    #max {
      text-align: left;
      margin-top: 50px;
    }
    #min {
      text-align: left;
    }
    #temp {
      margin: 5 -20px 0 0;
      text-align: center;
    }
    #welcome {
      display: none;
    }
    #title {
      text-align: left;
    }
    #find-weather-big {
      display: none;
      text-align: center;
    }
    nav {
      display: none;
    }
    #nav-container {
      height: 50px !important;
      width: 100%;
      background-image: url('../img/cloud-small.png') !important;
      background-position: 0px 0px;
      background-repeat: repeat-x;

      animation: moveClouds 60s linear infinite;
    }
    #get-zip-weather {
      margin-top: 10px;
    }
}

@media screen and (min-width: 646px) {
  #find-weather-small {
    display: none;
  }
}

/*animations*/
@keyframes moveClouds {
  from { background-position: 0 0; }
  to { background-position: 100% 0; }
}

#nav-container {
/*  width: 560px;
  height: 400px; */
  background-image: url(../img/cloud.png);
  background-position: 0px 0px;
  background-repeat: repeat-x;

  animation: moveClouds 60s linear infinite;
}